:root {

   --brand-color---1: #e40b31,
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	font-family: "Manrope", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
}
.container {
	max-width: 100%;
	/* margin: 0 auto; */
	height: 100vh;
	/* background-color: #fff; */
	border-radius: 5px;
	padding: 4rem;
}
.container .title {
	font-size: 3.6rem;
	font-weight: 600;
	position: relative;
	color: #2e020a;
}

.content {
	margin-top: 2rem;
	display: flex;
	align-items: center;

	border-radius: 6px;
}

.content form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}
form .user-details .input-box {
	margin-bottom: 1.8rem;
	width: calc(100% / 2 - 20px);
	
}
form .input-box label.details {
	font-size: 1.4rem;
	display: block;
	font-weight: 600;
	margin: 0 0 0.2rem 1rem ;
	color: #555;
	letter-spacing: 0.05rem;
}
label::after { 
    content: "*";
    color: red;
	margin-left: 0.1rem;
}

.user-details .input-box input {
	height: 6rem;
	width: 90%;
	outline: none;
	font-size: 16px;
	border-radius: 10px;
	padding-left: 1.5rem;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
	border-color: #ec546f;
}
form .gender-details .gender-title {
	font-size: 20px;
	font-weight: 500;
}
form .category {
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}
form .category label {
	display: flex;
	align-items: center;
	cursor: pointer;
}
form .category label .dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	margin-right: 10px;
	background: #d9d9d9;
	border: 5px solid transparent;
	transition: all 0.3s ease;
}

form .button {
	height: 45px;

}
form .button input {
	width: 48rem;
	height: 100%;

	margin: 4rem 0 0 0.8rem;

	border-radius: 8px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: #e40b31;
}
form .button input:hover {
	/* transform: scale(0.99); */
	background-color: #e40b31;
}
@media (max-width: 584px) {
	.container {
		max-width: 100%;
	}
	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}
	form .category {
		width: 100%;
	}
	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}
@media (max-width: 459px) {
	.container .content .category {
		flex-direction: column;
	}
}


.important--mark{
	color: #e40b31;
}